# --- Banco de Dados (Prisma) ---
DATABASE_URL=""

# URL do Backend (Usado para gerar links de imagens/avatars)
APP_URL=""

# --- Configurações da Aplicação ---
PORT=3000
NODE_ENV="development"

# URL do Frontend (Usado para CORS e links de reset de senha nos emails)
FRONTEND_URL=""

# --- Autenticação (JWT) ---
JWT_ACCESS_SECRET=""
JWT_REFRESH_SECRET=""

# Tempo de expiração do Access Token (Padrão: 15m se não informado)
JWT_ACCESS_EXPIRATION="15m"

# Tempo de expiração do Refresh Token (Padrão: 7d se não informado)
JWT_REFRESH_EXPIRATION="7d"

# --- Email (Resend) ---
RESEND_API_KEY=""